@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;

    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section {
        gap: 8px;
        flex-grow: 1;
        background-color: $gray-bg;

        img {
            height: 80vh;
        }
    }

    .form-section {
        width: 35vw;
        padding: 0 35px;

        img {
            margin-bottom: 30px;
            width: 80%;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                color: $gray-bg;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: $gray-bg;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;

                &:disabled {
                    opacity: 0.8;
                }

                &.btn-primary {
                    background-color: $primary-color;
                    color: white;
                    box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);
                }

                &.btn-secondary {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    main{
        .main-section {
            display: none;
        }

        .form-section {
            width: 100vw;
        }
    }
}
